* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  /* color: #1a1a2e;#2d3e2b */
  color: #2d3e2b;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

a.logoLink {
    font-size: 1.5rem;
    font-weight: 600;
    color: cadetblue;
    text-decoration: none;
}
.nav-links{
  display: flex;
    gap: 2.5rem;
   
    list-style: none;
}

nav.navbar.container {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    padding: 1.5rem;
    list-style: none;
}
a.nav-link{
text-decoration: none;
color: #2d3e2b;
font-weight: 700;
}

a.nav-link:hover{
  color:#40916c;
}

footer.site-footer {
    background-color: #1e3a2f;
    color: white;
    padding: 3rem 1rem;
}

.footerContain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.socialMedia {
    display: flex;
    gap: 2rem;
}

.socialMedia a {
    width: 40px;
    height: 40px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
}

.footerCopy {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 14px;
}

.categories {
  /* width: 320px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden; */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap:2rem;
  padding: 20px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease; */
}

.category-image {
  position: relative;
}

.category-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.category-card{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    background: #faf9f7;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}



.category-card:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 2);
}

.category-content {
  padding: 15px;
}

.category-footer {
  padding: 15px;
}

.category-footer button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #40916c;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.category-footer button:hover {
  background: #388E3C;
}

article#categories {
    padding-top: 80px;
}

.webtech-dis{
  height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(https://static.vecteezy.com/system/resources/previews/072/503/126/non_2x/web3-ready-futuristic-digital-circuit-board-network-with-glowing-blue-lights-on-dark-background-photo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.webTechInfo h1{
  color: white;
    font-size: 50px;
    font-weight: 800;
}

/* contactUs form */
.form-group {
    margin-bottom: 1.5rem;
}
.form-control{
width: 100%;
    padding: 0.75rem;
    border: 2px solid #e9ecef;
    border-radius: 10px;
    font-family: inherit;
}
button.submit-btn {
    width: 100%;
    /* height: 38px; */
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    align-items: center;
    color:#2d3e2b
}
button.submit-btn:hover{
  background-color: cadetblue;
}
.form-control:focus {
    outline: none;
    border-color: yellow;
    box-shadow: 0 0 0 3px rgba(64, 145, 108, 0.1);
}

/*Search Bar*/
.searchBar {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
input#Search {
    width: 25rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 15px;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
input#Search:focus {
border-color: #1e3a2f;
}

button#btnSearch {
    border: 1px solid #ddd;
    padding: 10px;
    width: 40px;
    margin: 10px;
    /* display: flex; */
    border-radius: 10px;
    background-color: #40916c;
    /* height: 41px; */
    /* font-size: 15px; */
}

/* Responsive */
@media (max-width: 768px) {
  nav.navbar.container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .categories {
    padding: 10px;
    gap: 1.5rem;
  }
}